MQTT_USERNAME=sentio_device
MQTT_PASSWORD=change-this-mqtt-password

INFLUX_USERNAME=sentio_admin
INFLUX_PASSWORD=change-this-influx-password
INFLUX_ORG=sentio
INFLUX_BUCKET=air_quality
INFLUX_TOKEN=change-this-long-random-influx-token
