#pragma once

#define SENTIO_WIFI_SSID "TU_WIFI"
#define SENTIO_WIFI_PASSWORD "TU_CLAVE_WIFI"

#define SENTIO_MQTT_HOST "38.250.115.117"
#define SENTIO_MQTT_PORT 1884
#define SENTIO_MQTT_USERNAME "sentio_device"
#define SENTIO_MQTT_PASSWORD "TU_CLAVE_MQTT"
